
{% load static %}
<!doctype html>
 <html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Django-gunicorn-nginx-docker</title>
<html class="no-js" lang="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}" >
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
    </head>
    <body>


        <section class="first-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-content">

                  <h2>Django web example</h2>
                  <div class="line-dec"></div>
                  <span>Ready-To-Deploy Django application with docker compose y </span>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="second-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="{% static "img/first-icon.png" %}" alt="">
                  </div>
                  <h4>Computer Engineering</h4>
                  <p> I had been started Swimming in computer World after i Learned that my favorits such as sience and philosophy and society combine exacly in one point in computer engineering</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="{% static "img/second-icon.png" %}" alt="">
                  </div>
                  <h4>Linux Family member</h4>
                  <p>The quest for finding myself instigated by Linux System Adminstration.I can blame all the faults on it,cuz it caused me to changed my attitude toward everything Eventually I reached Linux family Member by System adminstration which i can see all of my goals through it.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="{% static "img/third-icon.png" %}" alt="">
                  </div>
                  <h4>Linux became part of my soul</h4>
                  <p>Now linux is my spesialist. as a nerd boy my spesialist in not just my ability but also its part of my  soul and i living with it in hole days of my simple life...</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="{% static "img/fourth-icon.png"%}" alt="">
                  </div>
                  <h4>Video recording </h4>
                  <p>Now i focused on project in video recording for teaching what i have learend</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="third-section">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="left-image col-md-4">
                  <img src=" {% static "img/third-item.jpg"%}" alt="">
                </div>
                <div class="right-text col-md-8">
                  <h4><em>Get to know me better</em><br>this is Parham Zardoshti</h4>
                  <p>I found my interest in Linux and security in the year of 2018 and my path life unwillingly inclined in this way ... Now that i have the moment, i rather be involve in things that i believe in them. I only live once so i live passionately with all those that i have found about myself.</p>
                  <div class="primary-button">

                    <a href="portfolilio-page.html">Click</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="fourth-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="portfolio-item first-item">
                  <div class="image">
                    <a href="{% static "img/01-big-item.jpg" data-lightbox="image-1"%}"><img src="{%  static "img/first-item.jpg"%}"></a>
                  </div>
                  <div class="text">
                    <span>Django</span>
                    <h4>more about</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="portfolio-item second-item">
                  <div class="image">
                    <a href="{% static "img/02-big-item.jpg"%}" data-lightbox="image-1"><img src="{% static "img/second-item.jpg"%}"></a>
                  </div>
                  <div class="text">
                    <span>Linux</span>
                    <h4>System Admin</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="portfolio-item third-item">
                  <div class="image">
                    <a href="{% static "img/03-big-item.jpg"%}" data-lightbox="image-1"><img src="{% static "img/third-item.jpg"%}"></a>
                  </div>
                  <div class="text">
                    <span>wordpress</span>
                    <h4>projects</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="send-to-portfolio">
                  <span>take a look to get more information</span>
                  <div class="primary-button">
                    <a href="portfolilio-page.html">Click</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="fivth-section">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="left-text col-md-8">
                  <h4><em>In the following</em><br>What's going to  be happen</h4>
                  <p>alongside of my specialists i have an activity in society and siences and also Learnning,Teaching ,reading books and philosophy and been Pianist bacame my whole life...
                  you can follow me in other social medias ; you can search parhamzardoshti in instagram and telegram ....hop to enjoy it:))
                                </p>
                </div>
                <div class="right-image col-md-4">
                  <img src="{% static "img/third-bg.jpg"%}" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sixth-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="row">

                </div>
              </div>

              <section>
    				<div class="panel">
    					<img src="{% static "img/third-item.jpg" %}" class="mtop70" />
    				</div>

    				<div class="dis">
    					<h2>ما مشاور شما هستیم!</h2>

    					<div class="myhr"></div>

    					<p style="text-align:justify;">
    					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
    					<p>
    				</div>

    			</section>
    	</body>
    </html>



            </div>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">

                <p>Parham Zardoshti &copy; Powered By Django

                        |   Design  By Heart and Brain :) </p>
              </div>
            </div>
          </div>
        </footer>

        <script src="ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src="{% static "js/vendor/jquery-1.11.2.min.js"%}"><\/script>")</script>
        <script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>


        <script src="{% static "js/plugins.js"%}"></script>
        <script src="{% "js/main.js5"}"></script>


    </body>
</html>
