{% load static %}
<!doctype html>

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ziggy HTML Template - Portfolio Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css '%}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">

        <script src=" {% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
    </head>
    <body>


        <section class="first-gallery-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-content">
                  <h2>Gallery</h2>
                  <div class="line-dec"></div>
                  <span>All about our work and play</span>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section class="send-to-home">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="back-to-home">
                  <span>Duis facilisis neque ut varius dictum. Phasellus et ultricies eros. Praesent commodo augue eget finibus feugiat.</span>
                  <div class="primary-button">
                    <a href="index.html">Go to homepage</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="projects-holder-3">
                    <div class="filter-categories">
                        <ul class="project-filter">
                            <li class="filter" data-filter="all"><span>All</span></li>
                            <li class="filter" data-filter="webdesign"><span>Web Design</span></li>
                            <li class="filter" data-filter="nature"><span>Nature</span></li>
                            <li class="filter" data-filter="responsive"><span>Responsive</span></li>
                            <li class="filter" data-filter="creative"><span>Creative</span></li>
                        </ul>
                    </div>
                    <div class="projects-holder">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 project-item mix nature">
                              <div class="image">
                                <a href="img/01-big-item.jpg" data-lightbox="image-1"><img src="img/01-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Nature</span>
                                <h4>Robotic Light</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix webdesign">
                              <div class="image">
                                <a href="img/02-big-item.jpg" data-lightbox="image-1"><img src="img/02-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Web Design</span>
                                <h4>Rock Solid</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix responsive">
                              <div class="image">
                                <a href="img/03-big-item.jpg" data-lightbox="image-1"><img src="img/03-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Responsive</span>
                                <h4>Minimal Capture</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix creative nature">
                              <div class="image">
                                <a href="img/04-big-item.jpg" data-lightbox="image-1"><img src="img/04-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Creative / Nature</span>
                                <h4>Tattoo Lovers</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix creative">
                              <div class="image">
                                <a href="img/05-big-item.jpg" data-lightbox="image-1"><img src="img/05-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Creative</span>
                                <h4>Develope &amp; Coding</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix responsive webdesign">
                              <div class="image">
                                <a href="img/06-big-item.jpg" data-lightbox="image-1"><img src="img/06-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Responsive / Web Design</span>
                                <h4>Network Inspire</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix webdesign">
                              <div class="image">
                                <a href="img/07-big-item.jpg" data-lightbox="image-1"><img src="img/07-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Web Design</span>
                                <h4>Start From Scatch</h4>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 project-item mix nature">
                              <div class="image">
                                <a href="img/08-big-item.jpg" data-lightbox="image-1"><img src="img/08-item.jpg"></a>
                              </div>
                              <div class="text">
                                <span>Nature</span>
                                <h4>Stay Safe Watch</h4>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <p>Copyright &copy; 2017 Company Name

                        | Design: Tooplate</p>
              </div>
            </div>
          </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
